.button {
    display: inline-block;
    cursor: pointer;
    padding: 4px 12px;
    background: none;
    border: 1px solid var(--blue);
    color: var(--blue);
  }
  
  .button:hover {
    color: var(--blue-dark);
    border-color: var(--blue-dark);
  }
  
  .button.button_primary {
    background: var(--blue);
    color: var(--neutral-0);
    border-color: transparent;
  }
  
  .button.button_primary:hover { background: var(--blue-dark); }
  
  .button.button_error {
    background: var(--red);
    color: var(--neutral-0);
    border-color: transparent;
  }
  
  .button.button_error:hover { background: var(--red-dark); }
  
  .buttons {
    display: inline-flex;
    align-items: center;
  }
  
  .buttons .button:not(:first-of-type) { margin-left: 8px; }