:root {
    /* Neutral */
    --neutral-900:  #263238;
    --neutral-800:  #37474F;
    --neutral-700:  #455A64;
    --neutral-600:  #546E7A;
    --neutral-500:  #607D8B;
    --neutral-400:  #78909C;
    --neutral-300:  #90A4AE;
    --neutral-200:  #B0BEC5;
    --neutral-100:  #CFD8DC;
    --neutral-50:   #ECEFF1;
    --neutral-0:    #FFFFFF;
  
    --neutral-main: #001B36;
    --blue: #0084F8;
    --blue-dark: #006ECF;
    --cyan: #58C2F1;
    --red: #FF8576;
    --red-dark: #D63D2F;
  }
  
  * {
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    background: var(--neutral-0);
    color: var(--neutral-main);
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  
  form
  {
    white-space: pre;
  }
  
  
  .alignLeft
  {
    text-align:left;
  }
  .alignRight
  {
    text-align:right;
  }
  
  .content { padding: 70px 20px; }
  
  .content_wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  
  
  
  
  .flex3 {
    display: flex;
    flex-wrap:wrap; /*nowrap;*/
    justify-content: center;
    gap:10px;
  }
  .flex3 div
  {
    flex-direction:column;
    justify-content:center;
    flex:1;
    padding:5px;
  }
  
  
  
  
  .flex4 {
    display: flex;
    flex-wrap:wrap; /*nowrap;*/
    justify-content: center;
    gap:10px;
  }
  .flex4 div
  {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /*also a flex container (for vertical equal height)*/
    background:whitesmoke;
    border-radius: 10px;
    flex:1;
    text-align:center;
    padding:5px;
    height:100px;
    margin:10px;
  }